.banner-img {
    width: 100%;
    object-fit: cover;
}

.banner-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;

    @media (max-width: 765px) {
        grid-template-rows: 2fr 1fr 1fr;
    }
}

@media (max-width: 765px) {
    .banner-arrow-down {
        place-self: end center;
    }
}

.banner-arrow-down {
    animation: banner-arrow-animation 3s infinite;
    animation-timing-function: ease-out;
}

@keyframes banner-arrow-animation {
    50% {
        transform: translateY(35px);
    }
    100% {
        transform: translateY(0);
    }
}
